html {
  box-sizing: border-box;
  font-family: monospace;
}

* {
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-rows: repeat(3, min-content);
}

form {
  margin: 1rem;
}

label {
  font-size: 4rem;
  margin: 1rem;
}

input {
  width: 2rem;
  height: 2rem;
}
